body {
  background-image: url("https://img.freepik.com/free-photo/salad-juice-with-copy-space_23-2148262115.jpg?t=st=1657311628~exp=1657312228~hmac=e0ca14002cf463a51521c944e0fac56d56fd913a7817e91e5a3aa425c1543ad0&w=1480");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 4rem;
  margin-left: 30px;
}
ul {
  background-color: rgb(189, 224, 249, 0.3);
  border-radius: 50px;
  max-width: max-content;
  margin-left: 50px;
  padding: 10px;
  padding-left: 40px;
  list-style: circle;
  font-size: 2rem;
}
